.navbarWrapper {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px 0;
  height: 4vh;
}
.navLink {
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: black;
}
.navLink:hover {
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  cursor: pointer;
}
